$text-primary-color: #64748b;
$text-secondary-color: #394760;
$text-light: white;
$text-dark: #0b0e13;

$text-incorrect: #c27070;
$text-correct: #9fadc6;
$text-appended: #f18d5a;

$background-primary-color: #0b0e13;
$background-secondary-color: #94a3b8;
$background-light: white;
